[submodule "ext/testworks"]
	path = ext/testworks
	url = https://github.com/dylan-lang/testworks
[submodule "ext/strings"]
	path = ext/strings
	url = https://github.com/dylan-lang/strings
[submodule "documentation/sphinx-extensions"]
	path = documentation/sphinx-extensions
	url = https://github.com/dylan-lang/sphinx-extensions
